{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid  px-0">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="/static/1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to the best Icecream of kharagpur</h5>
          <p>I know you have eaten Icecream but you haven't eaten my Icecream</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>We serve love with our Icecream</h5>
          <p>Shubha's world famous best Icecream</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/3.jpg"class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Inaugarated by Prime Minister Narendra Modi</h5>
          <p>This shop was inaugurated by our honourable prime minister Narendra Modi</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container my-3">
<h1 class="container my-2 text-center">Select from the list of Icecream</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="yggjt8">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="j99t5p">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="qz7j70q">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="gprpi">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="ountgq">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="ly7izj">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="cj446g">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="4122kh">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="klu6ds">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="kemky9">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="hgpa29">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="lbleuo">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="sk3bi">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="pkopsj">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="qq2o9o">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="zk4qxh">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/4.webp"/>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="6sxoct">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" fdprocessedid="sc8ip">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
